// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variable;
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: rgb(245, 245, 245);
  font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.navbar-laravel {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
