.taskitem {
  padding-left: 12px;
  border-bottom: 1px solid #ededed;
  display: flex;
  .check-box {
    position: relative;
    top: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 50%;
    margin-right: 20px;
    .check-box-mark {
      bottom: 9px;
      display: inline-block;
      position: relative;
      left: 6px;
    }
  }
  .item-title {
    flex-grow: 2;
    .comments {
      font-size: 12px;
      line-height: 10px;
      margin: -10px 0 10px 0;
    }
  }
  .delete {
    width: 40px;
    font-size: 39px;
    font-weight: 200;
    color: red;
  }
}


