.taskinput{
    box-shadow: inset 0px -2px 8px #f3f3f3;
    display: flex;
    background: white;
    font-size: 32px;
    padding: 16px 16px 16px 48px;
	input {
		outline: none;
		width: 100%;
		border: none;
        font-weight: 100;
        &::-webkit-input-placeholder {
          color: #ccc;
        }
	}
	img {
      margin-top: 13px;
      width: 30px;
      height: 30px;
	}
}
