.taskinput {
	border-bottom: 1px solid #ececec;
	display: flex;
	padding: 0 0 12px;
	box-shadow: inset 0 -5px 10px rgba(241,241,241,0.5);
	input {
		outline: none;
		border: none;
		padding: 8px 24px 0;
		color: #333;
		font-weight: 100;
		flex: 1;
	}
	::placeholder {
		color:#bbb;
	}
	button {
		border: none;
		font-size: 2.4rem;
		color: #777;
		margin-right: 12px;
		font-weight: 100;
	}
}
