.taskpage {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	font-weight: 100;
	width: 50%;
	margin: auto;
	line-height: 3rem;
	font-size: 1.5rem;
	.task-container{
		width: 100%;
		background: #fff;
		border: solid 1px #eee;
		box-shadow: 2px 8px 18px #ddd;
	}


}
